
/app/vendor/
/app/var/
/app./.env.local
/app/.env.prod
/app/.env.test
/app/.env.dev
/app/node_modules/
/app/public/assets/
/app/assets-map.json
/.DS_Store
.idea/
*.log
/app/build/
/app/coverage/

# Docker
.docker/
/docker-compose.override.yml

# Composer
composer.phar